# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# doxygen output
html/
latex/

# virtualenv
env/

# egg stuff
waterslide.egg-info/

# build stuff
build/
dist/

# vim .swp files
*.swp
