# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# doxygen output
html/
latex/

# virtualenv
env/

# egg stuff
waterslide.egg-info/

# build stuff
build/
dist/

# vim .swp files
*.swp

# Logos
logo/plain.svg
logo/logo.png
waterslide/web-resources/logo.*

# data.json file is used for versioning information in docker, but we don't
# want to have it end up in the repository
data.json
